{%extends '_base.html'%}

{%block title%}NEW {{board.name}} Topic{%endblock%}

{%block content%}

    <h1><a href="{% url 'getTopics' board.pk%}">{{board.name}}</a>/ Add new topic</h1>
    <form method="post" novalidate>
        {%csrf_token%}
        {%include 'includes/form.html'%}
        <!-- {{form.as_p}} -->
       
        <button type="submit" class="btn btn-success" >Add</button>

    </form>

    <br><a href="{% url 'getTopics' board.pk%}" class="btn btn-outline-secondary">Back</a>
{%endblock%}