{% extends '_base.html'%}
    {%block title%}{{board.name}}{%endblock%}
    {%block content%}
        <h1><a href="{% url 'index'%}">Boards</a>/{{board.name}}</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Topic</th>
                    <th>Posts</th>
                    <th>views</th>
                    <th>Auther</th>
                    <th>Create date</th>
                </tr>
            </thead>
            <tbody>
                {%for topic in topics%}
                
                <tr>
                    <td><a href="{%url 'topic_posts' board.pk topic.pk%}">{{topic.subject}}</a></td>
                    <td>{{topic.comments}}</td>
                    <td>0</td>
                    <td>{{topic.created_by.username}}</td>
                    <td>{{topic.created_at}}</td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="{% url 'new_topic' board.pk%}"class="btn btn-outline-primary">New</a><br>
        <a href="{% url 'index'%}"class="btn btn-outline-secondary">Back</a>
    {%endblock%}
    