{% extends '_base.html'%}
    {%block title%}{{board.name}}{%endblock%}
    {%block content%}
        <h1><a href="{% url 'index'%}">Boards</a>/{{board.name}}</h1>
        <br>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Topic</th>
                    <th>Posts</th>
                    <th>views</th>
                    <th>Auther</th>
                    <th>Create date</th>
                </tr>
            </thead>
            <tbody>
                {%for topic in topics%}
                
                <tr>
                    <td><a href="{%url 'topic_posts' board.pk topic.pk%}">{{topic.subject}}</a></td>
                    <td>{{topic.comments}}</td>
                    <td>{{topic.views}}</td>
                    <td>{{topic.created_by.username}}</td>
                    <td>{{topic.created_at}}</td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
        <ul class="pagination">
            {%if topics.has_previous%}
                <li class="page-item">
                    <a class="page-link" href="?page={{topics.previous_page_number}}">Previous</a>
                </li>
            {%endif%}
            {%for page_num in topics.paginator.page_range%}
                {%if topics.nmber == page_num%}
                    <li class="page-item active">
                        {{page_num}}
                    </li>
                {%else%}
                <li class="page-item ">
                    <a class="page-link" href="?page={{page_num}}">{{page_num}}</a>
                </li>
                {%endif%}
                
            {%endfor%}
            {%if topics.has_next%}
                <li class="page-item">
                    <a class="page-link" href="?page={{topics.next_page_number}}">Next</a>
                </li>
            {%else%}
                <li class="page-item disable">
                    <span>Next</span>
                </li>
            {%endif%}


        </ul>
        <a href="{% url 'new_topic' board.pk%}"class="btn btn-outline-primary">New</a><br>
        <a href="{% url 'index'%}"class="btn btn-outline-secondary">Back</a>
    {%endblock%}
    