{% extends '_base.html'%}
    {%block title%}{{topic.subject}}{%endblock%}
    {%block content%}
        <a href="{% url 'board_topics' topic.board.pk%}">{{topic.board.name}}</a>/{{topic.subject}}
        
        <div class="">
            <a href="{% url 'reply_topic' topic.board.pk topic.pk%}" class="btn btn-primary">Reply</a>
            {%for post in topic.posts.all%}
                <div class="col-10">
                    <div class="row mb-3">
                    
                        <p>Auther : {{post.created_by.username}}</p>
                        <p>Message : {{post.message}}</p>
                        <p>Created at : {{post.created_at}}</p>
                    </div>
                </div>
                {%if post.created_by == user%}
                    <a href="{%url 'edit_post' post.topic.board.pk post.topic.pk post.pk%}" class="btn btn-primary btn-sm" role="button">Edit</a>

                {%endif%}
            {%endfor%}
        </div>
        
    {%endblock%}
    